
.ctl-expanded {
  margin-left: 20px;
  padding: .25em .5em .2em .57em;
  font-size: 9pt;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  text-align: center;
  // font-weight: bold;
  color: white;
  border-color: #7faee3;
  background-color: #7faee3;
}

.ctl-collapsed {
  margin-left: 20px;
  padding: .25em .5em .2em .57em;
  font-size: 9pt;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  text-align: center;
  // font-weight: bold;
  color: #7faee3;
  border-color: #7faee3;
  background-color: white;
}

button:focus {outline:0;}


